body {
  max-width: 90%;
  margin: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.games-container {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.game-item {
  border: 2px solid #334752;
  background-color: rgba(51, 71, 82, 0.4);
  border-radius: 10px;
  padding: 1rem;
  min-width: 300px;
  max-width: 300px;
  margin: 2rem;
}

.danger {
  min-width: 100%;
  border: 2px solid #f22d1b;
  border-color: #f22d1b;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(242, 45, 27, 0.4);
}

a {
  text-decoration: none;
  color: black;
}

.box-width {
  width: 300px;
}

.game-details {
  border: 2px solid #334752;
  background-color: rgba(51, 71, 82, 0.4);
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  margin: 2rem;
}
